<form method="POST" action="/artists">
<div>
    <label>Name of the Artist to add:</label>
    <input type="text" name="artist_name"/> 
</div>
<div>
    <label>What genre is?:</label>
    <input type="text" name="artist_genre"/>
</div>
    <input type="submit"/>
</form>