<form method="POST" action="/albums">
<div>
    <label>Name of the Album to add:</label>
    <input type="text" name="album_name"/> 
</div>
<div>
    <label>Year the album was released:</label>
    <input type="text" name="release_year"/>
</div>
<div>
    <label>Artist id:</label>
    <input type="text" name="artist_id"/>
</div>    
    <input type="submit"/>
</form>